#banniere_jumbotron{
	/* background: url('../images/banniere.png') no-repeat top center; */
	/* background-image : url('../images/banniere.png');
	background-size: cover;
	opacity: 0.7; */
}

.navbar {
  margin-bottom: 0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color : #eee;
  /* text-shadow: 0 50px 10px rgba(0, 0, 0); */
  text-shadow: -0px 0 black, 0 2px black, 1px 0 black, 0 -0px black;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.btn-primary-1 {
    color: #fff;
    background-color: #98009C;
    border-color: #C752FF;
}

.btn-primary-2 {
    color: #fff;
    background-color: #920303;
    border-color: #7B0C05;
}

.btn-primary-3 {
    color: #fff;
    background-color: #bf9d00;
    border-color:#907600;
}

.btn-primary-2:focus,
.btn-primary-2.focus {
  color: #fff;
  background-color: #6B0404;
  border-color: #6B0404;
}
.btn-primary-2:hover {
  color: #fff;
  background-color: #6B0404;
  border-color: #6B0404;
}

.btn-primary-3:focus,
.btn-primary-3.focus {
  color: #fff;
  background-color: #7d5d05;
  border-color: #7d5d05;
}
.btn-primary-3:hover {
  color: #fff;
  background-color: #7d5d05;
  border-color: #7d5d05;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}